<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Bundle Name="Crowdsec Windows Firewall Bouncer" Version="0.0.5" Manufacturer="CrowdSecurity" UpgradeCode="56874602-c276-407e-b217-ebb035e3a2e9">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" LicenseUrl="" SuppressOptionsUI="yes" ShowVersion="yes" />
    
</BootstrapperApplication>
		<Chain>
      <RollbackBoundary Vital="yes" Id="rollbackBoundary" />
      <MsiPackage SourceFile="..\cs-windows-firewall-bouncer-setup\bin\x64\Release\cs_windows_firewall_bouncer_setup.msi" Vital="yes"/>
		</Chain>
	</Bundle>
	<Fragment>
		<netfx:DotNetCoreSdkSearch
			Platform="x64"
            MajorVersion="8"
            Variable="NetCoreSdkVersion"
        />
	</Fragment>

</Wix>
