<?if $(sys.BUILDARCH)="x86"?>
<?define Program_Files="ProgramFilesFolder"?>
<?elseif $(sys.BUILDARCH)="x64"?>
<?define Program_Files="ProgramFiles64Folder"?>
<?else?>
<?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="CrowdSec Windows Firewall Bouncer" Language="1033" Version="0.0.5" Manufacturer="CrowdSecurity" UpgradeCode="bb1f577d-4045-4334-a56b-94a35608e8c6" InstallerVersion="200"><MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallExecute" />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="CrowdSec Windows Firewall Bouncer" Level="1">
      <ComponentRef Id="bouncerexe_service_start" />
      <ComponentRef Id="bouncerexe_service_dont_start" />
      <ComponentRef Id="bouncerconfig" />
      <ComponentRef Id="fwbouncerother" />
    </Feature>

    <Property Id="CSCLIPRESENT">
        <DirectorySearch Id="csclidirectory" Path="C:\Program Files\CrowdSec\" AssignToProperty="yes">
          <FileSearch Id="cscli" Name="cscli.exe" />
        </DirectorySearch>
    </Property>
    
    <SetProperty After="AppSearch" Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="cscli.exe was not found, please register the bouncer with CrowdSec manually and update the service to start on boot" Condition="NOT CSCLIPRESENT" />
    
    

    <CustomAction Id="RegisterBouncer" DllEntry="RegisterBouncer" Execute="deferred" Return="check" Impersonate="no" BinaryRef="RegisterBouncer.CA" />
    <Property Id="RegisterBouncer" Value="bouncerPrefix=windows-firewall-bouncer-;bouncerConfigPath=C:\ProgramData\CrowdSec\config\bouncers\cs-windows-firewall-bouncer.yaml" />
    <Binary Id="RegisterBouncer.CA" SourceFile="..\bouncer-register-custom-action\bin\x64\Release\bouncer-register-custom-action.CA.dll" />
    
    <InstallExecuteSequence>
      <Custom Action="RegisterBouncer" After="InstallFiles" Condition="NOT Installed AND NOT REMOVE AND CSCLIPRESENT AND NOT WIX_UPGRADE_DETECTED" />
    </InstallExecuteSequence>
    
    <Property Id="MsiLogging" Value="voicewarmupx!" />

    <UI Id="WixUI_HK">

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />


      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg"></Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

    </UI>
    <UIRef Id="WixUI_Common" />
    <WixVariable Id="WixUIDialogBmp" Value="bmp\installer_dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="bmp\crowdsec_msi_top_banner.bmp" />
    <Icon Id="icon.ico" SourceFile="bmp\crowdsec_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  
      <StandardDirectory Id="CommonAppDataFolder">
        <Directory Id="CrowdSecCommonDir" Name="CrowdSec">
          <Directory Id="ConfigDir" Name="config">
            <Directory Id="BouncersDir" Name="bouncers">
              <Component Id="bouncerconfig">
                <File Id="bouncer.yaml" Source="$(cs_windows_firewall_bouncer.ProjectDir)\config\cs-windows-firewall-bouncer.yaml" Name="cs-windows-firewall-bouncer.yaml" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </StandardDirectory>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="CrowdsecFolder" Name="CrowdSec">
          <Directory Id="bouncers" Name="bouncers">
            <Directory Id="FirewallBouncerDir" Name="cs-windows-firewall-bouncer">
              <Component Id="bouncerexe_service_start" Guid="9a947d13-9b3b-4afe-a3ef-22f933ea749e" Condition="CSCLIPRESENT">
                <File Id="bouncer.exe" Source="$(cs_windows_firewall_bouncer.TargetDir)\cs-windows-firewall-bouncer.exe" Name="cs-windows-firewall-bouncer.exe" />
                
                <ServiceInstall Id="BouncerService" Name="cs-windows-firewall-bouncer" DisplayName="Crowdsec Windows Firewall Bouncer" Description="Crowdsec Windows Firewall Bouncer" Start="auto" Type="ownProcess" ErrorControl="normal" Account="LocalSystem" Vital="no" Interactive="no" />
                <ServiceControl Id="BouncerService" Name="cs-windows-firewall-bouncer" Start="install" Stop="both" Remove="uninstall" Wait="no" />
              </Component>
              <Component Id="bouncerexe_service_dont_start" Guid="4510eb0d-b255-4a88-92a2-4355ec392f93" Condition="NOT CSCLIPRESENT">
                <File Id="bouncer2.exe" Source="$(cs_windows_firewall_bouncer.TargetDir)\cs-windows-firewall-bouncer.exe" Name="cs-windows-firewall-bouncer.exe" />
                
                <ServiceInstall Id="BouncerService2" Name="cs-windows-firewall-bouncer" DisplayName="Crowdsec Windows Firewall Bouncer" Description="Crowdsec Windows Firewall Bouncer" Start="disabled" Type="ownProcess" ErrorControl="normal" Account="LocalSystem" Vital="no" Interactive="no" />
                <ServiceControl Id="BouncerService2" Name="cs-windows-firewall-bouncer" Stop="both" Remove="uninstall" Wait="no" />
              </Component>
              <Component Id="fwbouncerother" Guid="4b650a10-7531-4569-ba49-0867ddadf482">
                <File Id="nlog.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\NLog.dll" Name="NLog.dll" />
                <File Id="json.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" />
                <File Id="fw.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\Interop.NetFwTypeLib.dll" Name="Interop.NetFwTypeLib.dll" />
                <File Id="yaml.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\YamlDotNet.dll" Name="YamlDotNet.dll" />
                <File Id="commandline.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\CommandLine.dll" Name="CommandLine.dll" />
                <File Id="bouncer.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\cs-windows-firewall-bouncer.dll" Name="cs-windows-firewall-bouncer.dll" />
                <File Id="service.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\runtimes\win\lib\net8.0\System.ServiceProcess.ServiceController.dll" Name="System.ServiceProcess.ServiceController.dll" />
                <File Id="eventlog.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\runtimes\win\lib\net8.0\System.Diagnostics.EventLog.dll" Name="System.Diagnostics.EventLog.dll" />
                <File Id="eventlog_message.dll" Source="$(cs_windows_firewall_bouncer.TargetDir)\runtimes\win\lib\net8.0\System.Diagnostics.EventLog.Messages.dll" Name="System.Diagnostics.EventLog.Messages.dll" />
                <File Id="runtimeconfig.json" Source="$(cs_windows_firewall_bouncer.TargetDir)\cs-windows-firewall-bouncer.runtimeconfig.json" Name="cs-windows-firewall-bouncer.runtimeconfig.json" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </StandardDirectory>
    </Package>
</Wix>
